.header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    a {
        margin: 0 260px 0;
        text-decoration: none;
        color: blue !important;
    }
}

a {
    text-decoration: none !important;
    color: black !important;
}

.container {

    margin-left: 250px;

    .content {
        margin-top: 30px;

        border-bottom: 1px solid #cccccc;

        .write_date_contain {
            .writer {

                font-size: 16px;
            }

            .write_date {
                font-size: 16px;
            }
        }


        .update_button {
            margin-left: 500px;
        }

        h1 {
            margin: 20px 0;
            font-weight: 600;
            font-size: 20px;
        }
    }

    .flex-container {
        display: flex;
        justify-content: space-between; /* 요소를 좌우에 정렬합니다. */
        align-items: center; /* 요소를 수직 가운데 정렬합니다. */
        border-bottom: 1px solid #cccccc;
        padding-bottom: 10px;
    }

    .reply {
        form {

            margin: 10px 0;
        }

        border-bottom: 1px solid #cccccc;
    }

    .reply_btn {
        width: 123px;
        margin-top: 10px;
    }

    .reply_date {
        margin-right: 10px;
    }

    #deleteForm {
        margin-top: 10px;
    }

    .reply_update {
        margin-top: 5px;
    }

    .reply_content {
        border-bottom: 1px solid #cccccc;
    }

    .board_title_content {
        .notice_content {
            font-size: 14px;
        }

        margin: 30px 0 50px 0;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 30
    }

}
