.header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;

    a {
        margin: 0 260px 0;
        text-decoration: none;
    }
}

.container {
    margin-left: 250px;

    .content {
        margin-top: 100px;

        border-bottom: 1px solid #cccccc;
        .writer {
            margin-right: 30px;
        }

        .write_date {
            margin-right: 100px;
        }

        h1 {
            margin: 20px 0;
        }
    }
    .reply{
        form{

            margin: 10px 0;
        }
        border-bottom: 1px solid #cccccc;
    }
}
