<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href='/css/mainPageCss.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header">
        <h3><a class="title" href="/home">BOARD</a></h3>
    </div>
</header>
<div id="content">
    <div class="notice_title_search">
        <h2 class="notice_title">게시판</h2>
        <form id="searchForm" onsubmit="return false;" autocomplete="off">
            <!-- 제목 작성자 검색 -->
            <div class="board_search">
                <label>
                    <select id="searchType" name="searchType">
                        <option value="title">제목</option>
                        <option value="writer">작성자</option>
                    </select>
                </label>
                <label>
                    <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력"/>
                </label>
                <button type="button" class="bt_search" onclick="movePage2(1);"><i class="fas fa-search"></i><span
                        class="skip_info">검색</span></button>
                <button><a href="/board/writePage">글쓰기</a></button>
                <a href=""></a>
            </div>
        </form>

    </div>
    <!--    게시글 리스트-->
    <div class="board_list">
        <div class="board_content" th:each="item : ${response.list}">
            <div class="write_and_date">
                <span th:text="${item.writer}"></span>
                <span th:text="${item.write_Date}"></span>
            </div>
            <div class="board_title">
                <b class="board_num" th:text="${item.board_Num}"></b>
                <a th:href="@{/board/details/{boardNum}(boardNum=${item.board_Num})}">
                    <span th:text="${item.title}"></span>
                </a>
            </div>
        </div>
    </div>

    <!-- 페이징 링크를 표시하는 부분 -->
    <div class="paging">
        <a href="javascript:void(0);" onclick="movePage(-1);" class="page_bt next">이전 페이지</a>
        <div th:each="pageNumber : ${#numbers.sequence(response.pagination.startPage, response.pagination.endPage)}">
            <a th:href="'javascript:void(0);'" th:onclick="'movePage2(' + ${pageNumber} + ');'"
               th:text="${pageNumber}"></a>
        </div>
        <input type="hidden" id="pageNum" th:value="${params.page}">
        <a href="javascript:void(0);" onclick="movePage(1);" class="page_bt next">다음 페이지</a>
    </div>
</div>
<script>

    window.onload = () => {
        setQueryStringParams();
    }

    /*<![CDATA[*/
    // 페이지 이동
    const form = document.getElementById('searchForm');
    console.log(form.searchType.value)

    function movePage(change) {
        const form = document.getElementById('searchForm');
        const currentPage = parseInt(document.getElementById("pageNum").value);
        const newPage = currentPage + change;

        const queryParams = {
            page: (newPage > 0) ? newPage : 1,
            recordSize: 10,
            pageSize: 10,
            searchType: form.searchType.value,
            keyword: form.keyword.value
        };
        location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
    }

    function movePage2(change) {
        const form = document.getElementById('searchForm');
        const newPage = change;

        const queryParams = {
            page: (newPage > 0) ? newPage : 1,
            recordSize: 10,
            pageSize: 10,
            searchType: form.searchType.value,
            keyword: form.keyword.value
        };
        location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
    }

    // 쿼리 스트링 파라미터 셋팅
    function setQueryStringParams() {

        if (!location.search) {
            return false;
        }

        const form = document.getElementById('searchForm');

        new URLSearchParams(location.search).forEach((value, key) => {
            if (form[key]) {
                form[key].value = value;
            }
        })
    }
</script>
</body>
</html>