<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href='/css/noticeDetailsPage.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header">
        <h3><a class="title" href="/home">BOARD</a></h3>
    </div>
</header>
<div class="container">
    <div class="content">
        <span class="writer">[[${view.writer}]]</span>
        <span class="write_date">[[${view.write_Date}]]</span>
        <form th:action="@{/board/boardDelete}" method="post">
            <span><a class="boardUpdate" th:href="@{/board/boardUpdatePage/{boardNum}(boardNum=${view.board_Num})}"
                     onclick="openPopup()">수정</a> / <button type="submit">삭제</button> <a>삭제</a></span>
            <input type="hidden" id="boardNumInput" name="boardNum" th:value="${view.board_Num}">
        </form>
        <a th:href="@{/board/details/{boardNum}(boardNum=${view.board_Num})}">이전</a>
        <a>다음</a>
        <div id="popup" style="display: none;">
            <input type="password" id="passwordInput" placeholder="비밀번호를 입력하세요">
            <button>확인</button>
            <button onclick="submitPassword()">취소</button>
        </div>
        <h1>[[${view.title}]]</h1>
        <p>[[${view.content}]]</p>
        <div class="board_content" th:each="item : ${list}">
            <a th:href="@{/board/fileDownload/{fileName}(fileName=${item.stored_File_Name})}">
                <span th:text="${item.org_File_Name}"></span>
            </a>
            <span th:text="${item.file_Num}"></span>
        </div>
    </div>
    <div class="reply">
        <form th:action="@{/reply/replyWrite}" method="post" autocomplete="off">
            <label>
                <input type="text" id="replyContent" name="replyContent" placeholder="댓글을 입력하세요">
            </label>
            <label>
                <input type="password" id="password" name="password" maxlength="4" placeholder="비밀번호 4자리">
            </label>
            <input type="hidden" id="boardNum" name="boardNum" th:value="${view.board_Num}">
            <br>
            <button type="submit">댓글 작성</button>
<!--            th:href="@{/board/comment/{boardNum}(boardNum=${view.board_Num})}"-->
            <button type="button"><a th:href="@{/board/comment/{boardNum}(boardNum=${view.board_Num})}">답글 작성</a></button>
        </form>
    </div>
    <!--    댓글 조회 수정 삭제 -->
    <div class="reply_content" th:each="item : ${reply}">
        <form id="deleteForm" action="/reply/replyDelete" method="POST">
            <span th:text="${item.reply_Date}"></span> <a href="#" onclick="showAlert()">수정 </a>/ <a href="#" onclick="showDeleteAlert()">삭제</a><br>
            <input type="hidden" id="replyNum1" name="replyNum" th:value="${item.reply_Num}">
            <input type="hidden" id="replyBoardNum1" name="boardNum" th:value="${view.board_Num}">
        </form>
        <div class="reply_update">
            <span th:text="${item.reply_Content}"></span>
            <form th:action="@{/reply/replyUpdate}" id="replyForm" method="post" autocomplete="off">
                <label>
                    <input type="hidden" id="replyContentUpdate" name="replyContent" th:value="${item.reply_Content}">
                    <input type="hidden" id="replyNum" name="replyNum" th:value="${item.reply_Num}">
                    <input type="hidden" id="replyBoardNum" name="boardNum" th:value="${view.board_Num}">
                    <input type="hidden" id="replyPassword" name="reply_Password" th:value="${item.reply_Password}">
                </label>
            </form>
        </div>
    </div>
</div>
<!-- 팝업 창 -->

<script>
<!--    댓글 수정-->
    function showAlert() {
        var savedPassword = document.getElementById("replyPassword").value;
        // 사용자로부터 비밀번호 입력 받기
        var enteredPassword = prompt("비밀번호를 입력하세요 (4자리)");
        if (enteredPassword !== null) {
            if (enteredPassword === savedPassword) {
                enteredContent = prompt("수정 댓글을 입력하세요");
                document.getElementById("replyContentUpdate").value = enteredContent;
                document.getElementById("replyForm").submit();
            } else {
                alert("비밀번호가 일치하지 않습니다.");
            }
        }

    }

    // 댓글 삭제
    function showDeleteAlert() {
        var savedPassword = document.getElementById("replyPassword").value;
        // 사용자로부터 비밀번호 입력 받기
        var enteredPassword = prompt("비밀번호를 입력하세요 (4자리)");
        if (enteredPassword !== null) {
            if (enteredPassword === savedPassword) {
                result = confirm("정말로 삭제 하시겠습니까?");
                if (result) {
                    document.getElementById("deleteForm").submit();
                    alert("삭제되었습니다.");
                }
            } else {
                alert("비밀번호가 일치하지 않습니다.");
            }
        }
    }
</script>
</body>
</html>